
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* Shared Style */
.display-flex{
    display: flex;
}


.font-dark2{
    color: #424242;
}
.font-dark3{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 24px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section-tittle{
    font-size: 2.8rem;

 }

/* Header styles */

/* Navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{

}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-size: 2.5rem;
    font-weight: 700;
}
/* Banner */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-tittle{
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-description{
    line-height: 26px;
}
.banner-image{
    width: 100%;
}
/* Teams Section */

 .teams{
    align-items: center;
 }
 .team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 100%;
 }
 .team-image-container img{
    max-width: 100%;
 }

 .quick-list{
    font-weight: 500;
 }
 .of-our{

 }
 .feature{
    color: #FF900E;
 }
.our-feature{
    margin-left: 73px;
    max-width: 530px;
}
.feature-description{
    margin-bottom: 32px;
}

/* Feature Section */
.feataures{
    gap: 140px;
}
#feataure-section-tittle{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    gap: 25px;
    border-radius: 8px;
    margin-top: 8px;
}

.feature-tittle{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-tittle h4{
    margin-bottom: 10px;
    margin-top: 13px;
}
.fetaure-architect img{
    width: 100%;
}
#experience-badge{
    padding: 40px;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year{
    font-size: 4.063rem;
    font-weight: 700;
}
#experience-description{
    font-size: 1.563rem;
}


/* Some Facts Section */
.some-facts{

}
.fact-description{
    max-width: 542px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 146px;
}
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;

}
.fact-number{
    font-size: 2.813rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-tittle{
    font-weight: 700;
}
/* Sponsor section */
.sponsor-info{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-tittle {
    font-weight: 700;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}
/* Footer Section */
.main-footer{
    background-color: rgba(255, 144, 14, 0.1);
    border-radius: 8px;
    

    text-align: center;
}
.footer-content{
    margin: 50px;
    font-size: 1.25rem;
    padding: 10px ;
}
/* Responsive Media Query */

@media screen and (max-width: 576px){
    .navbar, .nav-links, .teams, .feataures {
        flex-direction: column;
    }
    .team-image-container,
    .facts-container,
    .sponsor-companies
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .our-feature{
        margin-left: 20px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}

/* Medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .feataures{
        flex-direction: column;
    }
    .our-feature{
        margin-left: 50px;
    }
    .facts-container
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        justify-items: center;
    }
    .sponsor-companies{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        justify-items: center;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}
